*{
	font-family: 'Roboto', 'Open Sans', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
}

/****************Bulma style overwrite****************/

.footer{
    background-color: #209cee;
    color: #fff;
}

/****************General****************/

.hidden{
    display: none;
}

/****************Main****************/

div#display-wrapper{
    width: 1200px;
    height: 1000px;
    /* border: 1px solid red; */
}

div#display-container{
    width: 960px;
    height: 960px;
    float: left;
    border: 1px solid #209cee;
}

div#menu-container{
    width: 240px;
    height: 960px;
    float: right;
    text-align: center;
    border: 1px solid #209cee;
}

/****************tree style****************/
.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
  /*stroke-linejoin: round;*/
  stroke-linecap: round;
}

.link path:hover{
	stroke: red;
}



